.reviewContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
.reviewList{
    width: 90%;
}
.reviewWriteContainer{
  align-self: flex-start;
  margin-bottom: 30px;
}
.reviewWriteContainer button{
    padding: 10px;
    border-radius: 7px;
}
.noReviews{
    text-align: center;
    font-size: 1.2em;
    color: #7965C1;
    padding: 10px;
    border-radius: 7px;
}