@font-face {
  font-family: Pretendard;
  src: url('/Pretendard-Regular.woff2');
}

button {
  cursor: pointer;
  background-color: #7965C1;
  border: none;
  transition: all 0.5s ease;
}
button:hover {
  transform: translateY(-4px);
  background-color: #5f4a9b;
  color: white;
}

input {
  background-color: black;
  padding: 13px 11px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #505050;
  outline: none;
  transition: all 0.5s ease;
}

input:focus {
  border: 1px solid white;
  box-shadow:
    0 0 5px #7965C1,
    0 0 10px #7965C1;
}

body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #242424;
  line-height: 1.5;
  font-family: Pretendard;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}